@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --green-color: rgba(214, 234, 216, 1);
  --darker-green-color: rgba(174, 213, 178, 1);
  --yellow-color: rgba(246, 254, 127, 1);
  --blue-color: rgba(123, 175, 212, 1);
  --light-blue-color: rgba(188, 215, 233, 1);

  --primary-font: "Manrope", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --main-text-color: black;
  --secondary-text-color: white;
  --third-text-color: rgba(112, 112, 112, 1);
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}
img {
  max-width: 100%;
  height: auto;
}
body {
}
h1,
h2,
h3,
h4 {
  font-family: var(--secondary-font);
}
h1 {
  font-size: 2.3125rem;
  text-transform: uppercase;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
p {
  font-family: var(--primary-font);
  font-size: 1.25rem;
}

button {
  width: 80%;
  background: black;
  border: none;
  color: var(--secondary-text-color);

  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  display: block;
  margin: 0 auto;
}
.green-button {
  width: 100%;
  background: var(--green-color);
  border: none;
  color: var(--main-text-color);
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  font-family: var(--primary-font);
}
.white-button {
  width: 200px;
  background: white;
  border: none;
  color: var(--main-text-color);
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  font-family: var(--primary-font);
}
/* Homepage */

/* .container {
  width: 100%;
  max-width: 500px;
}
img {
  height: 300px;
}
.hero {
  display: grid;
  grid-template-columns: 30px 50px 70px 1fr 1fr;
  grid-template-rows: 70px 70px 70px 70px 1fr;
}
.hero-img:first-of-type {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  width: 350px;
  height: 300px;
  background: var(--green-color);
}
.hero-img:nth-child(2) {
  width: 500px;
  height: 300px;
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
}
.hero-img:nth-child(3) {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
  border: 10px solid var(--green-color);
  width: 500px;
  height: 300px;
}
.hero-img:nth-child(4) {
  grid-row: 4 / 5;
  grid-column: 4 /5;
} */

#homepage {
  margin: 0;
}
.container {
  width: 90%;
  max-width: 400px;
  display: block;
  margin: 0 auto;

  margin-top: 3rem;
}
.container img {
  height: 200px;
}
.hero {
  display: grid;
  grid-template-columns: 20px 30px 50px 50px 100px 70px;
  grid-template-rows: 30px 40px 50px 30px 80px 1fr 1fr;
  justify-content: center;
}
/* .hero {
  display: grid;
  grid-template-columns: 20px 30px 50px 150px 70px 1fr;
  grid-template-rows: 30px 40px 50px 30px 80px 1fr 1fr;
} */
.hero-img:first-of-type {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  width: 250px;
  height: 200px;
  background: var(--green-color);
}
.hero-img:nth-child(2) {
  width: 300px;
  height: 200px;
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
}
.hero-img:nth-child(3) {
  grid-column: 3 / 6;
  grid-row: 3 / span 2;
  border: 3px solid var(--green-color);
  width: 270px;
  height: 205px;
}
.hero-img:nth-child(4) {
  grid-row: 4 / 5;
  grid-column: 4 /6;
}
.hero-img:nth-child(5) {
  grid-row: 6/ 7;
  grid-column: 5 /7;
}
.hero-img:nth-child(5) h1 {
  text-align: right;
  letter-spacing: 10.21px;
}

.half-highlight {
  background: linear-gradient(180deg, transparent 60%, var(--green-color) 40%);
}
.half-highlight-blue {
  background: linear-gradient(180deg, transparent 60%, var(--blue-color) 40%);
}
.half-highlight-light-blue {
  background: linear-gradient(
    180deg,
    transparent 60%,
    var(--light-blue-color) 40%
  );
}

.half-highlight-yellow {
  background: linear-gradient(180deg, transparent 60%, var(--yellow-color) 40%);
  width: max-content;
  line-height: 80%;
}
.hero-img:nth-child(6) {
  grid-row: 7/ 8;
  grid-column: 4;
  border-left: 3px solid var(--green-color);
}
/* h2 span {
  display: block;
} */
#recycled-collection {
  background-image: url(/assets/recycled-collection.png);
  background-size: cover;
  background-position: 50% 50%;
  height: 250px;
  padding-top: 2rem;
  margin-bottom: 3rem;
}
#recycled-collection h2 {
  width: max-content;
  letter-spacing: 3.8px;
  margin: 1rem;
  line-height: 80%;
  color: var(--secondary-text-color);
}
#recycled-collection p {
  width: max-content;
  font-size: 1rem;
  margin: 1rem;

  color: var(--secondary-text-color);
}
.small-circle {
  width: 14px;
  height: 13px;
  background: rgba(255, 255, 255, 0.7) 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.small-circle-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}
#shop-by-category {
  width: 90%;
  display: block;
  margin: 0 auto;
}
#shop-by-category h3 {
  display: block;
  margin: 0 auto;
  width: max-content;
  line-height: 80%;
  text-transform: uppercase;
  letter-spacing: 2.24px;
}

.shop-by-category-container {
  display: block;
  margin: 0 auto;
  max-width: max-content;
  margin-top: 3rem;
}
.shop-by-category-container img {
  height: 200px;
}
.shop-by-category-wrapper,
.shop-by-category-wrapper2,
.shop-by-category-wrapper3,
.shop-by-category-wrapper4,
.shop-by-category-wrapper5 {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 20px 1fr 20px max-content;
  justify-items: center;
}
.shop-by-category-img:nth-child(1) {
  background-image: url(/assets/category1.png);
  height: 250px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1 / 3;
  grid-row: 2/4;
}
.shop-by-category-img:nth-child(2) {
  grid-column: 2/4;
  grid-row: 1 / 3;
  height: 250px;
  width: 250px;
  border: 7px solid var(--light-blue-color);
}
.shop-by-category-img:nth-child(3) {
  grid-column: 1 /3;
  grid-row: 4 /5;
  justify-self: start;
  text-transform: uppercase;

  padding-top: 5px;
  padding-bottom: 2rem;
}

.shop-by-category-wrapper2 .shop-by-category-img:nth-child(1) {
  background-image: url(/assets/category2.png);
  height: 250px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 2 / 4;
  grid-row: 2/4;
}
.shop-by-category-wrapper2 .shop-by-category-img:nth-child(2) {
  grid-column: 1/3;
  grid-row: 1 / 3;
  height: 250px;
  width: 250px;
  border: 7px solid var(--light-blue-color);
}
.shop-by-category-wrapper2 .shop-by-category-img:nth-child(3) {
  grid-column: 1 /3;
  grid-row: 4 /5;
  justify-self: start;
  text-transform: uppercase;

  padding-top: 5px;
  padding-bottom: 2rem;
}
.shop-by-category-wrapper3 .shop-by-category-img:nth-child(1) {
  background-image: url(/assets/category3.png);
  height: 250px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1 / 3;
  grid-row: 2/4;
}
.shop-by-category-wrapper3 .shop-by-category-img:nth-child(2) {
  grid-column: 2/4;
  grid-row: 1 / 3;
  height: 250px;
  width: 250px;
  border: 7px solid var(--light-blue-color);
}
.shop-by-category-wrapper3 .shop-by-category-img:nth-child(3) {
  grid-column: 1 /3;
  grid-row: 4 /5;
  justify-self: start;
  text-transform: uppercase;

  padding-top: 5px;
  padding-bottom: 2rem;
}

.shop-by-category-wrapper4 .shop-by-category-img:nth-child(1) {
  background-image: url(/assets/category4.png);
  height: 250px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 2 / 4;
  grid-row: 2/4;
}
.shop-by-category-wrapper4 .shop-by-category-img:nth-child(2) {
  grid-column: 1/3;
  grid-row: 1 / 3;
  height: 250px;
  width: 250px;
  border: 7px solid var(--light-blue-color);
}
.shop-by-category-wrapper4 .shop-by-category-img:nth-child(3) {
  grid-column: 1 /3;
  grid-row: 4 /5;
  justify-self: start;
  text-transform: uppercase;

  padding-top: 5px;
  padding-bottom: 2rem;
}
.shop-by-category-wrapper5 .shop-by-category-img:nth-child(1) {
  background-image: url(/assets/category5.png);
  height: 250px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1 / 3;
  grid-row: 2/4;
}
.shop-by-category-wrapper5 .shop-by-category-img:nth-child(2) {
  grid-column: 2/4;
  grid-row: 1 / 3;
  height: 250px;
  width: 250px;
  border: 7px solid var(--light-blue-color);
}
.shop-by-category-wrapper5 .shop-by-category-img:nth-child(3) {
  grid-column: 1 /3;
  grid-row: 4 /5;
  justify-self: start;
  text-transform: uppercase;

  padding-top: 5px;
  padding-bottom: 2rem;
}
#homepage-sustainability {
  margin-bottom: 3rem;
  margin-top: 2rem;
}
#homepage-sustainability article {
  background: var(--darker-green-color);
  padding: 1rem;
}
#homepage-sustainability p {
  color: white;
  font-size: 1rem;
  padding-bottom: 0.5rem;
  line-height: normal;
}
#homepage-sustainability h3 {
  color: white;
  font-size: 1.875rem;
  text-transform: uppercase;
  text-align: center;
}
#homepage-video {
  background-image: url(/assets/sustainabke.png);
  background-size: cover;
  height: 300px;
  background-position: center;
}
.newsletter-img {
  background-image: url(/assets/newsletter.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  padding: 1rem;
}
.newsletter-border {
  display: block;
  margin: 0 auto;
  border: 7px solid var(--yellow-color);
  /* width: 90%;
  height: 90%; */
  width: 100%;
  height: 100%;

  /* transform: translateY(15px); */
  /* transform: translate(15px, 15px); */
}
#newsletter-form {
  padding: 1rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}
#newsletter-form p {
  font-size: 1.0625rem;
  letter-spacing: 0.12px;
  padding-bottom: 1rem;
}
#newsletter-form h3 {
  letter-spacing: 0.12px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}
#newsletter-form form input[type="text"] {
  width: 100%;
}
#newsletter-form form {
  margin-top: 1rem;
}
#newsletter-form form input {
  padding: 0.8rem;
  color: grey;
  border: 1px solid black;
}
.form-email {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  justify-content: space-between;
}
#newsletter-form form input[type="email"] {
  width: 70%;
  margin-right: 0.5rem;
}
#newsletter-form form input[type="submit"] {
  background: black;
  border: none;
  width: 30%;
  color: var(--secondary-text-color);

  text-transform: uppercase;

  font-size: 0.875;
}
#silfen-stories {
  padding: 1rem;
}
#silfen-stories h3 {
  width: max-content;
  line-height: 80%;
  text-transform: uppercase;
  letter-spacing: 3.04px;
}
#silfen-stories h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.some-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.3rem;
  justify-content: center;
}
.some-wrapper img {
  width: 40%;
}
/* ---------------------------------CART PAGE------------------------------------ */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#cartpage {
  margin: 0 1.2rem 0 1.2rem;
}

#cartpage h1 {
  text-align: center;
  margin-bottom: 3rem;
}

#cartpage .productwrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-top: 2rem;
  grid-gap: 7vw;
}

/* #cartpage img {
  border: solid black 1px;
} */

#cartpage .productinfo {
  display: flex;
  flex-direction: column;
}

#cartpage .additems {
  margin: 2vh 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#cartpage .additems input {
  max-width: 15vw;
  border: none;
  outline: none;
  text-align: center;
}

#cartpage .additems .buttonsadd {
  display: flex;
  flex-direction: row;
}

#cartpage .additems .buttonsadd button {
  background-color: white;
  color: black;
}

#cartpage #total {
  margin-top: 5vh;
  text-align: right;
}

#cartpage #total h2 {
  margin-bottom: 2vh;
}

#cartpage #total #checkoutbutton {
  margin-top: 3vh;
  margin-bottom: 5vh;
}

#cartpage #totalline {
  color: var(--green-color);
  background-color: var(--green-color);
  border-width: 0;
  height: 5px;
}

/*------------------------------------- CHECKOUT PAGE----------------------------------------------- */

#checkoutpage {
  margin: 0 1.2rem 0 1.2rem;
}

#checkoutpage #breadcrumbs,
.information,
.shipping,
.payment {
  margin: 2rem 0 2rem 0;
}

#checkoutpage .shipping p {
  font-size: 0.7rem;
}

#checkoutpage .information p {
  font-size: 0.7rem;
}

#checkoutpage .information form {
  display: grid;
  grid-template: 1fr 1fr;
  grid-template-areas: "form input";
  grid-gap: 0.5rem;
}

#checkoutpage .shipping form {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-gap: 0.5rem;
}

#checkoutpage .shipping input {
  height: 4vh;
  width: 100%;
  font-size: 4rem;
}

#checkoutpage .shipping label:first-of-type {
  grid-column: 1 / span 1;
  grid-row: 1;
}

#checkoutpage .shipping #street {
  grid-column: 2 / span 3;
  grid-row: 1;
}

#checkoutpage .shipping label:nth-of-type(2) {
  grid-column: 1 / span 1;
  grid-row: 2;
}

#checkoutpage .shipping #number {
  grid-column: 2 / span 1;
  grid-row: 2;
}

#checkoutpage .shipping label:nth-of-type(3) {
  grid-column: 3 / span 1;
  grid-row: 2;
}

#checkoutpage .shipping #floor-apt {
  grid-column: 4 / span 1;
  grid-row: 2;
}

#checkoutpage .shipping label:nth-of-type(4) {
  grid-column: 1 / span 1;
  grid-row: 3;
}

#checkoutpage .shipping #zip-code {
  grid-column: 2 / span 1;
  grid-row: 3;
}

#checkoutpage .shipping label:nth-of-type(5) {
  grid-column: 3 / span 1;
  grid-row: 3;
}

#checkoutpage .shipping #city {
  grid-column: 4 / span 1;
  grid-row: 3;
}

#checkoutpage .shipping label:nth-of-type(6) {
  grid-column: 1 / span 1;
  grid-row: 4;
}

#checkoutpage .shipping #country {
  grid-column: 2 / span 3;
  grid-row: 4;
}

#checkoutpage .payment p {
  font-size: 0.7rem;
}

#checkoutpage .payment #epay {
  border: solid black 1px;
  margin: 2vh 0 2vh 0;
}

#checkoutpage .purchase-summary {
  background-color: #f2f2f2;
  padding: 3rem 1.2rem 3rem 1.2rem;
}

#checkoutpage .purchase-summary .item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 0.7rem;
}

#checkoutpage .purchase-summary .item .other-product-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 2rem;
}

#checkoutpage .purchase-summary .item .other-product-info .size {
  line-height: 0.5;
}

#checkoutpage .purchase-summary .discount-code form {
  margin: 2vh 0 2vh 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#checkoutpage .purchase-summary .discount-code form input {
  max-width: 100%;
  height: 4vh;
}

#checkoutpage .purchase-summary .discount-code form button {
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 2px;
}
#checkoutpage .purchase-summary .amounts {
  margin: 1vh 0 1vh 0;
}
#checkoutpage .purchase-summary .amounts .subtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

#checkoutpage .purchase-summary .amounts .shipping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

#checkoutpage .purchase-summary .total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

#checkoutpage .checkboxes form {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 4 * 1fr;
  grid-gap: 0.5rem;
  margin: 1.5rem 0 1.5rem 0;
}

#checkoutpage .checkboxes form input:first-of-type {
  grid-column: 1 / span 1;
  grid-row: 1;
  width: 80%;
}

#checkoutpage .checkboxes form input:nth-of-type(2) {
  grid-column: 1 / span 1;
  grid-row: 2;
  width: 80%;
}

#checkoutpage .checkboxes form label:first-of-type {
  grid-column: 2 / span 2;
  grid-row: 1;
  font-size: 0.8rem;
}

#checkoutpage .checkboxes form label:nth-of-type(2) {
  grid-column: 2 / span 2;
  grid-row: 2;
  font-size: 0.8rem;
}

#checkoutpage .checkboxes form button {
  grid-column: 1 / span 3;
  grid-row: 3;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 550;
}
/* ~~~~~~~~~~~~about page~~~~~~~~~~~~ */
#about {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 34px;
  padding: 1.5rem;
}

.about-silfen-img {
  box-shadow: 19px 19px 0px 0px #bcd7e9;
  margin: 2rem;
}

.about-sustainability-img {
  box-shadow: -19px 19px 0px 0px #d6ead8;
  margin: 2rem;
}

/*------------------------------------- footer ----------------------------------------------- */

footer a,
footer h4 {
  font-style: var(--secondary-font);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-text-color);
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.footer-title {
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 3rem;
  font-size: 0.9rem;
}

footer {
  margin: 3rem 1rem;
}

footer div {
  padding-bottom: 1rem;
  width: 100%;
}

footer section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/*------------------------------------- MEDIA QUERIES ----------------------------------------------- */

@media screen and (min-width: 700px) {
  /* ----------CART PAGE----------- */
  #cartpage main {
    margin: 0 4rem 0 4rem;
  }

  #cartpage #totalline {
    margin: 2rem 0 2rem 0;
  }

  #cartpage #total p:last-of-type {
    margin-bottom: 2rem;
  }

  #cartpage #total {
    margin-bottom: 6rem;
  }

  /* ------------FOOTER-------------- */

  footer div {
    width: 20%;
  }
}

@media screen and (min-width: 900px) {
  /* ----------CART PAGE----------- */
  #cartpage .thinline {
    margin-top: 3rem;
    background-color: black;
    border-color: none;
    height: 1px;
  }

  #cartpage .productwrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2rem;
    margin-top: 3rem;
  }

  #cartpage .productinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    line-height: 1rem;
  }

  #cartpage .productinfo h3 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  #cartpage .productinfo .productcolor {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  #cartpage .productinfo .price {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }

  #cartpage .productinfo .additems {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    display: flex;
    flex-direction: column;
  }

  #cartpage .productinfo .additems .remove {
    margin: 0;
    align-self: center;
  }

  #cartpage .productwrapper img {
    max-width: 100%;
    border: none;
  }

  #cartpage #total .aligned-left {
    display: flex;
    justify-content: flex-end;
  }

  #cartpage #total button {
    margin: 0;
    max-width: 50%;
  }

  /* ------------FOOTER-------------- */
  footer {
    margin: 4rem 7rem;
  }
}

@media screen and (min-width: 1100px) {
  #cartpage main {
    margin: 0 20rem 0 20rem;
  }

  #cartpage #total h2 {
    font-size: 2rem;
  }

  footer {
    margin: 5rem 9rem;
  }
}
.highlight-green {
  max-width: 90%;
  background: linear-gradient(180deg, transparent 60%, var(--green-color) 40%);
}

.highlight-blue {
  background: linear-gradient(
    180deg,
    transparent 60%,
    var(--light-blue-color) 40%
  );
  max-width: 60%;
}

/* ~~~~~~~~~~~~about silfen page~~~~~~~~~~~~ */

#aboutsilfen-page {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 34px;
  padding: 1.5rem;
}

.aboutsilfen-page-img {
  box-shadow: 15px 30px 0px 0px #bcd7e9;
  margin: 2rem;
}
.aboutsilfen-text p {
  padding-top: 2rem;
  margin: 1rem;
  font-size: 1rem;
}

.thefounders-img {
  box-shadow: 24px 9px 0px 5px #bcd7e9;
  margin: 2rem;
}
.thefounders-text p {
  padding-top: 2rem;
  margin: 1rem;
  font-size: 1rem;
}

.meettheteam-title h2 {
  padding-top: 1rem;
}

.team-boxes {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  margin: 1rem;
}

.theteam-img-daniel {
  box-shadow: 15px 30px 0px 0px #bcd7e9;
  margin: 2rem;
}
.theteam-img-celine {
  box-shadow: 26px -25px 0px 1px #bcd7e9;
  margin: 2rem;
}
.theteam-img-nikolaj {
  box-shadow: 0px 18px 0px 0px #bcd7e9;
  margin: 2rem;
}
.theteam-img-emma {
  box-shadow: 30px -40px 0px 1px #bcd7e9;
  margin: 2rem;
}
.theteam-img-siri {
  box-shadow: 8px 20px 0px 0px #bcd7e9;
  margin: 2rem;
}
.theteam-img-yasmin {
  box-shadow: 26px -25px 0px 0px #bcd7e9;
  margin: 2rem;
}

/* ~~~~~~~~~~~~about sustainability page~~~~~~~~~~~~ */
#sustainability-page {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 34px;
}

.about-sustainability {
  padding: 1.5rem;
}
.sustainability-text {
  margin: 1rem;
}
.sustainability-text p {
  font-size: 1rem;
  margin: 1rem;
}
.care-sustainability {
  padding: 1.5rem;
}

.highlight-green-care {
  max-width: 40%;
  background: linear-gradient(180deg, transparent 60%, var(--green-color) 40%);
}
.we-care-boxes {
  margin: 2rem;
  font-weight: 500;
  text-transform: none;
}
.box1-border {
  outline: 5px solid #2cabff;
  outline-offset: 10px;
}
.box2-border {
  outline: 5px solid #d6ead8;
  outline-offset: 15px;
}
.box1 h2 {
  margin: 2rem;
  font-weight: 500;
}
.box2 h2 {
  margin: 3rem;
  font-weight: 500;
}
.box3 h2 {
  /* margin: 2rem; */
  font-weight: 500;
}
.box4 h2 {
  margin: 2rem;
  font-weight: 500;
}
