@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --green-color: rgba(214, 234, 216, 1);
  --darker-green-color: rgba(174, 213, 178, 1);
  --yellow-color: rgba(246, 254, 127, 1);
  --blue-color: rgba(123, 175, 212, 1);
  --light-blue-color: rgba(188, 215, 233, 1);

  --primary-font: "Manrope", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --main-text-color: black;
  --secondary-text-color: white;
  --third-text-color: rgba(112, 112, 112, 1);
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 100%;
  font-family: var(--primary-font);
}
img {
  max-width: 100%;
  height: auto;
}
body {
}
h1,
h2,
h3,
h4 {
  font-family: var(--secondary-font);
}
h1 {
  font-size: 2.3125rem;
  text-transform: uppercase;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
p {
  font-family: var(--primary-font);
  font-size: 1.25rem;
}
button {
  width: 80%;
  background: black;
  border: none;
  color: var(--secondary-text-color);

  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  display: block;
  margin: 0 auto;
}
.green-button {
  width: 100%;
  background: var(--green-color);
  border: none;
  color: var(--main-text-color);
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  font-family: var(--primary-font);
}
.white-button {
  width: 200px;
  background: white;
  border: none;
  color: var(--main-text-color);
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  font-family: var(--primary-font);
}

/* -------------------------------  TOP MENU ---------------------------- */

.item-added {
  background-color: #edff00;
  height: 15px;
  width: 15px;
  border: solid #edff00 1px;
  border-radius: 15px;
  transform: translate(12px, 12px);
}
header {
  background-color: white;
  position: fixed;
  width: 100%;
  max-height: 27%;
}
.desktop-nav .nav-icons {
  display: flex;
  justify-content: space-around;
  grid-column: 8 / span 1;
  grid-row: 2 / span 1;
  align-self: start;
  margin-right: 2rem;
}
.desktop-nav .nav-icons div img {
  padding-left: 0;
  margin-left: 0;
  max-width: 40%;
}
.desktop-nav .nav-icons .cart-icon {
  display: grid;
}
.desktop-nav .nav-icons .cart-icon > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.desktop-nav a:link {
  text-decoration: none;
  color: black;
}
.desktop-nav a:visited {
  text-decoration: none;
  color: black;
}
.desktop-nav a:hover {
  text-decoration: none;
  color: var(--green-color);
  cursor: pointer;
}
.desktop-nav ul {
  list-style: none;
}
.desktop-nav .sale {
  max-width: 90%;
  background: linear-gradient(180deg, transparent 60%, #edff0080);
}
.desktop-nav {
  font-size: 1rem;
  font-weight: 800;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr;
}
.desktop-nav .logo {
  grid-column: 1 / span 8;
  grid-row: 1 / span 1;
  margin: 2rem auto 2rem auto;
  max-width: 40%;
}
.desktop-nav .pages {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / span 6;
  grid-row: 2 / span 1;
  align-self: start;
  font-size: 1rem;
}
.desktop-nav .pages .dropdown-content {
  display: none;
  margin-left: -2.5rem;
  margin-top: 0.5rem;
  z-index: 1;
  font-weight: 500;
}
.drop:hover .dropdown-content {
  display: block;
}
.desktop-nav .nav-icons .search {
  margin: 0;
}
.desktop-nav .nav-icons img {
  margin: 0;
  padding: 0;
  align-self: flex-start;
}
/* Homepage */

/* .container {
  width: 100%;
  max-width: 500px;
}
img {
  height: 300px;
}
.hero {
  display: grid;
  grid-template-columns: 30px 50px 70px 1fr 1fr;
  grid-template-rows: 70px 70px 70px 70px 1fr;
}
.hero-img:first-of-type {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  width: 350px;
  height: 300px;
  background: var(--green-color);
}
.hero-img:nth-child(2) {
  width: 500px;
  height: 300px;
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
}
.hero-img:nth-child(3) {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
  border: 10px solid var(--green-color);
  width: 500px;
  height: 300px;
}
.hero-img:nth-child(4) {
  grid-row: 4 / 5;
  grid-column: 4 /5;
} */
/* newsletter popup */
.newsletter-popup {
  width: 360px;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0.5rem;
  border: 5px solid var(--yellow-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 15%;
  background: white;
}
.show {
  visibility: visible;
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hidden {
  visibility: hidden;
}
.newsletter-popup .newsletter-small-text {
  margin-top: 0.3rem;
  font-size: 0.5rem;
}
.newsletter-popup h3 {
  text-transform: uppercase;
}
.newsletter-popup p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.newsletter-popup form input[type="text"] {
  width: 100%;
}
.newsletter-popup form {
  margin-top: 0.5rem;
}
.newsletter-popup form input {
  padding: 0.4rem;
  color: grey;
  border: 1px solid black;
}
.form-email {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  justify-content: space-between;
}
.newsletter-popup form input[type="email"] {
  width: 70%;
  margin-right: 0.5rem;
}
.newsletter-popup form input[type="submit"] {
  background: black;
  border: none;
  width: 30%;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-size: 0.875;
}
.x-sign {
  width: 13px;
  align-self: flex-end;
  cursor: pointer;
}

#homepage {
  margin: 0;
}
.container {
  width: 90%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
}
.container img {
  height: 200px;
}
.hero {
  display: grid;
  grid-template-columns: 20px 30px 50px 50px 100px 70px;
  grid-template-rows: 30px 40px 50px 30px 90px 1fr 1fr;
  justify-content: center;
}
/* .hero {
  display: grid;
  grid-template-columns: 20px 30px 50px 150px 70px 1fr;
  grid-template-rows: 30px 40px 50px 30px 80px 1fr 1fr;
} */
.hero-img:first-of-type {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  width: 250px;
  height: 200px;
  background: var(--green-color);
}
.hero-img:nth-child(2) {
  width: 300px;
  height: 200px;
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
}
.hero-img:nth-child(3) {
  grid-column: 3 / 6;
  grid-row: 3 / span 2;
  border: 3px solid var(--green-color);
  width: 270px;
  height: 200px;
}
.hero-img:nth-child(4) {
  grid-row: 4 / 5;
  grid-column: 4 /6;
}
.hero-img:nth-child(5) {
  grid-row: 6/ 7;
  grid-column: 5 /7;
}
.hero-img:nth-child(5) h1 {
  text-align: right;
  letter-spacing: 10.21px;
}
.half-highlight {
  background: linear-gradient(180deg, transparent 60%, var(--green-color) 40%);
  line-height: 80%;
}
.half-highlight-blue {
  background: linear-gradient(180deg, transparent 60%, var(--blue-color) 40%);
}
.half-highlight-light-blue {
  background: linear-gradient(
    180deg,
    transparent 60%,
    var(--light-blue-color) 40%
  );
}
.half-highlight-yellow {
  background: linear-gradient(180deg, transparent 60%, var(--yellow-color) 40%);
  width: max-content;
  line-height: 80%;
}
.hero-img:nth-child(6) {
  grid-row: 7/ 8;
  grid-column: 4;
  border-left: 3px solid var(--green-color);
}
/* h2 span {
  display: block;
} */
#recycled-collection {
  background-image: url(/assets/recycled-collection.webp);
  background-size: cover;
  background-position: 50% 50%;
  height: 250px;
  padding-top: 2rem;
  margin-bottom: 3rem;
}
#recycled-collection h2 {
  width: max-content;
  letter-spacing: 3.8px;
  margin: 1rem;
  line-height: 80%;
  color: var(--secondary-text-color);
}
#recycled-collection p {
  width: max-content;
  font-size: 1rem;
  margin: 1rem;
  color: var(--secondary-text-color);
}
.small-circle {
  width: 14px;
  height: 13px;
  background: rgba(255, 255, 255, 0.7) 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.small-circle-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}
#shop-by-category {
  width: 90%;
  display: block;
  margin: 0 auto;
}
#shop-by-category h3 {
  display: block;
  margin: 0 auto;
  width: max-content;
  line-height: 80%;
  text-transform: uppercase;
  letter-spacing: 2.24px;
}
.shop-by-category-container {
  display: block;
  margin: 0 auto;
  max-width: max-content;
  margin-top: 3rem;
}
.shop-by-category-container img {
  height: 200px;
}
.shop-by-category-wrapper,
.shop-by-category-wrapper2,
.shop-by-category-wrapper3,
.shop-by-category-wrapper4,
.shop-by-category-wrapper5 {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 20px 1fr 20px max-content;
  justify-items: center;
}
.shop-by-category-img:nth-child(1) {
  background-image: url(/assets/category1.webp);
  height: 250px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1 / 3;
  grid-row: 2/4;
}
.shop-by-category-img:nth-child(2) {
  grid-column: 2/4;
  grid-row: 1 / 3;
  height: 250px;
  width: 250px;
  border: 7px solid var(--light-blue-color);
}
.shop-by-category-img:nth-child(3) {
  grid-column: 1 /3;
  grid-row: 4 /5;
  justify-self: start;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 2rem;
}

.shop-by-category-wrapper2 .shop-by-category-img:nth-child(1) {
  background-image: url(/assets/category2.webp);
  height: 250px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 2 / 4;
  grid-row: 2/4;
}
.shop-by-category-wrapper2 .shop-by-category-img:nth-child(2) {
  grid-column: 1/3;
  grid-row: 1 / 3;
  height: 250px;
  width: 250px;
  border: 7px solid var(--light-blue-color);
}
.shop-by-category-wrapper2 .shop-by-category-img:nth-child(3) {
  grid-column: 1 /3;
  grid-row: 4 /5;
  justify-self: start;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 2rem;
}
.shop-by-category-wrapper3 .shop-by-category-img:nth-child(1) {
  background-image: url(/assets/category3.webp);
  height: 250px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1 / 3;
  grid-row: 2/4;
}
.shop-by-category-wrapper3 .shop-by-category-img:nth-child(2) {
  grid-column: 2/4;
  grid-row: 1 / 3;
  height: 250px;
  width: 250px;
  border: 7px solid var(--light-blue-color);
}
.shop-by-category-wrapper3 .shop-by-category-img:nth-child(3) {
  grid-column: 1 /3;
  grid-row: 4 /5;
  justify-self: start;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 2rem;
}
.shop-by-category-wrapper4 .shop-by-category-img:nth-child(1) {
  background-image: url(/assets/category4.webp);
  height: 250px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 2 / 4;
  grid-row: 2/4;
}
.shop-by-category-wrapper4 .shop-by-category-img:nth-child(2) {
  grid-column: 1/3;
  grid-row: 1 / 3;
  height: 250px;
  width: 250px;
  border: 7px solid var(--light-blue-color);
}
.shop-by-category-wrapper4 .shop-by-category-img:nth-child(3) {
  grid-column: 1 /3;
  grid-row: 4 /5;
  justify-self: start;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 2rem;
}
.shop-by-category-wrapper5 .shop-by-category-img:nth-child(1) {
  background-image: url(/assets/category5.webp);
  height: 250px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1 / 3;
  grid-row: 2/4;
}
.shop-by-category-wrapper5 .shop-by-category-img:nth-child(2) {
  grid-column: 2/4;
  grid-row: 1 / 3;
  height: 250px;
  width: 250px;
  border: 7px solid var(--light-blue-color);
}
.shop-by-category-wrapper5 .shop-by-category-img:nth-child(3) {
  grid-column: 1 /3;
  grid-row: 4 /5;
  justify-self: start;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 2rem;
}
#homepage-sustainability {
  margin-bottom: 3rem;
  margin-top: 2rem;
}
#homepage-sustainability article {
  background: var(--darker-green-color);
  padding: 1rem;
}
#homepage-sustainability p {
  color: white;
  font-size: 1rem;
  padding-bottom: 0.5rem;
  line-height: normal;
}
#homepage-sustainability h3 {
  color: white;
  font-size: 1.875rem;
  text-transform: uppercase;
  text-align: center;
}
#homepage-video {
}
.hp-video {
  background-image: url(/assets/ecogif.gif);
  background-size: cover;
  height: 300px;
  background-position: center;
}
.newsletter-img {
  background-image: url(/assets/newsletter.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  padding: 1rem;
}
.newsletter-border {
  display: block;
  margin: 0 auto;
  border: 7px solid var(--yellow-color);
  /* width: 90%;
  height: 90%; */
  width: 100%;
  height: 100%;
  /* transform: translateY(15px); */
  /* transform: translate(15px, 15px); */
}
#newsletter-form {
  padding: 1rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}
#newsletter-form p {
  font-size: 1.0625rem;
  letter-spacing: 0.12px;
  padding-bottom: 1rem;
}
#newsletter-form h3 {
  letter-spacing: 0.12px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}
.newsletter-small-text {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
#newsletter-form form input[type="text"] {
  width: 100%;
}
#newsletter-form form {
  margin-top: 1rem;
}
#newsletter-form form input {
  padding: 0.8rem;
  color: grey;
  border: 1px solid black;
}
.form-email {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  justify-content: space-between;
}
#newsletter-form form input[type="email"] {
  width: 70%;
  margin-right: 0.5rem;
}
#newsletter-form form input[type="submit"] {
  background: black;
  border: none;
  width: 30%;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-size: 0.875;
}
#silfen-stories {
  padding: 1rem;
}
#silfen-stories h3 {
  width: max-content;
  line-height: 80%;
  text-transform: uppercase;
  letter-spacing: 3.04px;
}
#silfen-stories h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.some-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.3rem;
  justify-content: center;
}
.some-wrapper img {
  width: 40%;
}

/* ---------------------------------CART PAGE------------------------------------ */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
#cartpage {
  margin: 0 1.2rem 0 1.2rem;
}
#cartpage h1 {
  text-align: center;
  margin-bottom: 3rem;
}
#cartpage .productwrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-top: 2rem;
  grid-gap: 7vw;
}
/* #cartpage img {
  border: solid black 1px;
} */
#cartpage .productinfo {
  display: flex;
  flex-direction: column;
}
#cartpage .additems {
  margin: 2vh 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#cartpage .additems input {
  max-width: 15vw;
  border: none;
  outline: none;
  text-align: center;
}
#cartpage .additems .buttonsadd {
  display: flex;
  flex-direction: row;
}
#cartpage .remove p {
  font-size: 1rem;
}
#cartpage .additems .buttonsadd button {
  background-color: white;
  color: black;
}
#cartpage #total {
  margin-top: 5vh;
  text-align: right;
}
#cartpage #total h2 {
  margin-bottom: 2vh;
}
#cartpage #total #checkoutbutton {
  margin-top: 3vh;
  margin-bottom: 5vh;
}
#cartpage #totalline {
  color: var(--green-color);
  background-color: var(--green-color);
  border-width: 0;
  height: 5px;
}

/*------------------------------------- CHECKOUT PAGE----------------------------------------------- */

#checkoutpage {
  margin: 0 1.2rem 0 1.2rem;
}
#checkoutpage #breadcrumbs,
.information,
.shipping,
.payment {
  margin: 2rem 0 2rem 0;
}
#checkoutpage .shipping p {
  font-size: 0.7rem;
}
#checkoutpage .information p {
  font-size: 0.7rem;
}
#checkoutpage .information form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "form input";
  grid-gap: 0.5rem;
}
#checkoutpage .shipping form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}
#checkoutpage .shipping input {
  height: 4vh;
  width: 100%;
  font-size: 4rem;
}
#checkoutpage .shipping label:first-of-type {
  grid-column: 1 / span 1;
  grid-row: 1;
}
#checkoutpage .shipping #street {
  grid-column: 2 / span 3;
  grid-row: 1;
}
#checkoutpage .shipping label:nth-of-type(2) {
  grid-column: 1 / span 1;
  grid-row: 2;
}
#checkoutpage .shipping #number {
  grid-column: 2 / span 1;
  grid-row: 2;
}
#checkoutpage .shipping label:nth-of-type(3) {
  grid-column: 3 / span 1;
  grid-row: 2;
}
#checkoutpage .shipping #floor-apt {
  grid-column: 4 / span 1;
  grid-row: 2;
}
#checkoutpage .shipping label:nth-of-type(4) {
  grid-column: 1 / span 1;
  grid-row: 3;
}
#checkoutpage .shipping #zip-code {
  grid-column: 2 / span 1;
  grid-row: 3;
}
#checkoutpage .shipping label:nth-of-type(5) {
  grid-column: 3 / span 1;
  grid-row: 3;
}
#checkoutpage .shipping #city {
  grid-column: 4 / span 1;
  grid-row: 3;
}
#checkoutpage .shipping label:nth-of-type(6) {
  grid-column: 1 / span 1;
  grid-row: 4;
}
#checkoutpage .shipping #country {
  grid-column: 2 / span 3;
  grid-row: 4;
}
#checkoutpage .payment p {
  font-size: 0.7rem;
}
#checkoutpage .payment #epay {
  border: solid black 1px;
  margin: 2vh 0 2vh 0;
}
#checkoutpage .purchase-summary {
  background-color: #f2f2f2;
  padding: 3rem 1.2rem 3rem 1.2rem;
}
#checkoutpage .purchase-summary .item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 0.7rem;
}
#checkoutpage .purchase-summary .item .other-product-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 2rem;
}
#checkoutpage .purchase-summary .item .other-product-info .size {
  line-height: 0.5;
}
#checkoutpage .purchase-summary .discount-code form {
  margin: 2vh 0 2vh 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#checkoutpage .purchase-summary .discount-code form input {
  max-width: 100%;
  height: 4vh;
}
#checkoutpage .purchase-summary .discount-code form button {
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 2px;
}
#checkoutpage .purchase-summary .amounts {
  margin: 1vh 0 1vh 0;
}
#checkoutpage .purchase-summary .amounts .subtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
#checkoutpage .purchase-summary .amounts .shipping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
#checkoutpage .purchase-summary .total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
#checkoutpage .checkboxes form {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem;
  margin: 1.5rem 0 1.5rem 0;
}
#checkoutpage .checkboxes #terms-conditions {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  height: 4vh;
}
#checkoutpage .checkboxes form #sign-up {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  height: 4vh;
}
#checkoutpage .checkboxes form label:first-of-type {
  grid-column: 2 / span 2;
  grid-row: 1;
  font-size: 0.8rem;
}
#checkoutpage .checkboxes form label:nth-of-type(2) {
  grid-column: 2 / span 2;
  grid-row: 2;
  font-size: 0.8rem;
}
#checkoutpage .checkboxes form button {
  grid-column: 1 / span 3;
  grid-row: 3;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 600;
}

/* ------------------------THANK YOU PAGE----------------- */

#thankyoupage {
  margin: 0 1.2rem 0 1.2rem;
}
#thankyoupage h1 {
  text-align: center;
}
#thankyoupage main img {
  display: block;
  max-width: 30%;
  margin: 2rem auto 2rem auto;
}
#thankyoupage h2 {
  text-align: center;
  font-size: 1.5rem;
}
#thankyoupage #checkemail {
  display: grid;
}
#thankyoupage #checkemail > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
  margin-top: 5vh;
}
#thankyoupage #checkemail #background {
  background-color: #f6fe7f;
  transform: translate(10px, 25px);
  z-index: -1;
}
/* #thankyoupage #checkemail img:first-of-type{
  grid-column: 1;
  grid-row: 1;
  max-width: 100%;
} */
#thankyoupage #checkemail #content-wrapper {
  margin-top: 2rem;
  border: solid #f6fe7f 5px;
  background-color: white;
  padding: 2rem 2rem 27rem 2rem;
  grid-column: 1;
  grid-row: 1;
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 5fr;
}
#thankyoupage #checkemail #content-wrapper h3 {
  grid-column: 1;
  grid-row: 1 / span 1;
  text-align: center;
  margin: 0;
  line-height: 0.3;
}
#thankyoupage #checkemail #content-wrapper img {
  grid-column: 1;
  grid-row: 2 / span 1;
  max-width: 20%;
  margin: -20vh auto -20vh auto;
  padding: 0;
}
#thankyoupage #checkemail #content-wrapper #text {
  grid-column: 1;
  grid-row: 3 / span 1;
  margin-top: 0.3rem;
}
#thankyoupage #checkemail #content-wrapper #text p {
  line-height: 2;
  margin: 0;
}

/* ~~~~~~~~~~~~about page~~~~~~~~~~~~ */
#about {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 34px;
  padding: 1.5rem;
}
.about-silfen-img {
  box-shadow: 19px 19px 0px 0px #bcd7e9;
  margin: 2rem;
}
.about-sustainability-img {
  box-shadow: -19px 19px 0px 0px #d6ead8;
  margin: 2rem;
}

/*------------------------------------- CATALOGUE PAGE ----------------------------------------------- */

#catalogue main {
  margin: 2rem 1rem;
}
#catalogue .breadcrumbs p {
  font-size: 1rem;
}
#catalogue-title {
  width: max-content;
  line-height: 80%;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 2rem 0;
}
#catalogue-forms {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
#catalogue-products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1rem;
}
.product-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid rgb(51, 51, 51);
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}
.product-name {
  padding: 2rem 0 0 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 0.5;
}
.product-price {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bolder;
  line-height: 1;
}
.product-colors {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: space-evenly;
}
.color1,
.color2,
.color3,
.color4 {
  height: 19px;
  width: 19px;
  border: 1px solid rgb(51, 51, 51);
}
.color1 {
  background-color: black;
}
.color2 {
  background-color: pink;
}
.color3 {
  background-color: blue;
}
.color4 {
  background-color: green;
}
#catalogue button {
  font-size: 1.2rem;
}

/*------------------------------------- footer ----------------------------------------------- */

footer a,
footer h4 {
  font-style: var(--secondary-font);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-text-color);
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.footer-title {
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 3rem;
  font-size: 0.9rem;
}
footer {
  margin: 3rem 1rem;
}
footer div {
  padding-bottom: 1rem;
  width: 100%;
}
footer section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* ~~~~~~~~~~~~privacy page~~~~~~~~~~~~ */
#privacy {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 34px;
  padding: 1.5rem;
}
.highlight-yellow-privacy {
  /* max-width: 40%; */
  width: max-content;
  background: linear-gradient(180deg, transparent 60%, var(--yellow-color) 40%);
}
#privacy p {
  text-transform: none;
  padding-top: 1rem;
}

/* ~~~~~~~~~~~~terms page~~~~~~~~~~~~ */

#terms {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 34px;
  padding: 1.5rem;
}
.highlight-green-terms {
  /* max-width: 40%; */
  width: max-content;
  background: linear-gradient(180deg, transparent 60%, var(--green-color) 40%);
}
#terms p {
  text-transform: none;
  padding-top: 2rem;
  font-size: 0.8rem;
}

/* ~~~~~~~~~~~~ Delivery & Returns page~~~~~~~~~~~~ */
#delivery-return {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 34px;
  padding: 1.5rem;
}
.highlight-blue-delivery {
  /* max-width: 40%; */
  width: max-content;
  background: linear-gradient(
    180deg,
    transparent 60%,
    var(--light-blue-color) 40%
  );
}
#delivery-return p {
  text-transform: none;
  padding-top: 2rem;
}
.highlight-green-return {
  margin-top: 2rem;
  /* max-width: 40%; */
  width: max-content;
  background: linear-gradient(180deg, transparent 60%, var(--green-color) 40%);
}

/* ---------WHERE IS THIS FROM??? --------*/
.highlight-green {
  max-width: 90%;
  background: linear-gradient(180deg, transparent 60%, var(--green-color) 40%);
  width: max-content;
}
.highlight-blue {
  background: linear-gradient(
    180deg,
    transparent 60%,
    var(--light-blue-color) 40%
  );
  /* max-width: 60%; */
  width: max-content;
}

/* ~~~~~~~~~~~~about silfen page~~~~~~~~~~~~ */

#aboutsilfen-page {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 34px;
  padding: 1.5rem;
}
.aboutsilfen-page-img {
  box-shadow: 15px 30px 0px 0px #bcd7e9;
  margin: 2rem;
}
.aboutsilfen-text p {
  padding-top: 2rem;
  margin: 1rem;
  font-size: 1rem;
}
.thefounders-img {
  box-shadow: 24px 9px 0px 5px #bcd7e9;
  margin: 2rem;
}
.thefounders-text p {
  padding-top: 2rem;
  margin: 1rem;
  font-size: 1rem;
}
.meettheteam-title h2 {
  padding-top: 1rem;
}
.team-boxes {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  margin: 1rem;
}
.theteam-img-daniel {
  box-shadow: 15px 30px 0px 0px #bcd7e9;
  margin: 2rem;
}
.theteam-img-celine {
  box-shadow: 26px -25px 0px 1px #bcd7e9;
  margin: 2rem;
}
.theteam-img-nikolaj {
  box-shadow: 0px 18px 0px 0px #bcd7e9;
  margin: 2rem;
}
.theteam-img-emma {
  box-shadow: 30px -40px 0px 1px #bcd7e9;
  margin: 2rem;
}
.theteam-img-siri {
  box-shadow: 8px 20px 0px 0px #bcd7e9;
  margin: 2rem;
}
.theteam-img-yasmin {
  box-shadow: 26px -25px 0px 0px #bcd7e9;
  margin: 2rem;
}

/* ~~~~~~~~~~~~about sustainability page~~~~~~~~~~~~ */
#sustainability-page {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 34px;
}
.about-sustainability {
  padding: 1.5rem;
}
.sustainability-text {
  margin: 1rem;
}
.sustainability-text p {
  /* font-size: 1rem; */
  margin: 1rem;
  text-transform: none;
}
.care-sustainability {
  padding: 1.5rem;
}
.highlight-green-care {
  /* max-width: 40%; */
  background: linear-gradient(180deg, transparent 60%, var(--green-color) 40%);
  width: max-content;
}
.we-care-boxes {
  margin: 2rem;
  font-weight: 500;
  text-transform: none;
}
.box1-border {
  outline: 5px solid #2cabff;
  outline-offset: 10px;
}
/* .box2-border {
  outline: 5px solid #d6ead8;
  outline-offset: 15px;
} */
.box1 h2 {
  margin: 2rem;
  font-weight: 500;
}
.box2 h2 {
  margin: 3rem;
  font-weight: 500;
}
.box3 h2 {
  /* margin: 2rem; */
  font-weight: 500;
}
.box4 h2 {
  margin: 2rem;
  font-weight: 500;
}
.water {
  padding: 1.5rem;
}
.highlight-blue-care {
  max-width: 40%;
  background: linear-gradient(
    180deg,
    transparent 60%,
    var(--light-blue-color) 40%
  );
}
.water-img {
  margin: 2rem;
}
.water-text {
  margin: 1rem;
}
.water-text p {
  /* font-size: 1.2rem; */
  margin: 1rem;
  text-transform: none;
}
.working-conditions {
  padding: 1.5rem;
}
.highlight-yellow-working {
  /* max-width: 80%; */
  width: max-content;
  background: linear-gradient(180deg, transparent 60%, var(--yellow-color) 40%);
}
.working-img {
  margin: 2rem;
}
.working-text {
  margin: 1rem;
}
.working-text p {
  /* font-size: 1.2rem; */
  margin: 1rem;
  text-transform: none;
}
.materials h3 {
  margin: 1.5rem;
}
.highlight-green-materials {
  /* max-width: 40%; */
  width: max-content;
  background: linear-gradient(180deg, transparent 60%, var(--green-color) 40%);
}
.materials-img {
  box-shadow: 20px -20px 0px 0px var(--green-color);
  margin: 2.5rem;
}
.materials-text {
  margin: 1rem;
}
.materials-text p {
  margin: 1rem;
}
.materials-text p {
  text-transform: none;
}
.uppercase-vegan p {
  text-transform: uppercase;
}
.shop-vegan-btn {
  margin: 2rem;
  text-align: center;
  font-weight: 500;
}
.shop-vegan-btn a {
  text-decoration: none;
}

/* .shop-vegan-text{
  outline: 8px solid var(--green-color);
  width: 80%;
  background-color: var(--green-color);
  margin: auto;
} */
/* .shop-vegan-text h3{
  box-shadow: 20px 20px 0px 0px var(--green-color); 
  padding: 1rem;
font-weight: 400;
} */

.cotton-img {
  margin: 2rem;
  padding-top: 2rem;
}
.uppercase-cotton p {
  margin-left: 2rem;
  text-transform: uppercase;
}
.cotton-text p {
  margin-right: 2rem;
  margin-left: 2rem;
  text-transform: none;
}
.rpet-line-img {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: -3px;
}
.rpet-line-text p {
  text-transform: none;
  margin-left: 2rem;
  margin-right: 2rem;
}
.uppercase-rpet-line {
  margin-left: 2rem;
}
.shop-recycled-btn {
  margin: 2rem;
  text-align: center;
  font-weight: 500;
  /* background-color: var(--green-color); */
}
.shop-recycled-btn a {
  text-decoration: none;
}

/* .shop-recycled-text{
  outline: 8px solid var(--green-color);
  width: 80%;
  background-color: var(--green-color);
  margin: auto;
} */
/* .shop-recycled-text h3{
  box-shadow: 20px 20px 0px 0px var(--green-color); 
  padding: 1rem;
font-weight: 400;
} */

.leather {
  padding-top: 2rem;
  margin: 2rem;
}
.leather-img {
  padding-bottom: 1rem;
}
.leather-text p {
  text-transform: none;
}
.sustainability-shipping {
  margin: 2rem;
}
.highlight-green-sus {
  /* max-width: 40%; */
  width: max-content;
  background: linear-gradient(180deg, transparent 60%, var(--green-color) 40%);
}
.sus-shipping-img {
  /* padding-top: 2rem;
  padding-bottom: 2rem; */
  margin: 2.5rem;
  box-shadow: 20px -20px 0px 5px var(--yellow-color);
}
.sus-shipping-text p {
  text-transform: none;
}
/*------------------------------------- MEDIA QUERIES ----------------------------------------------- */
/*------------------------------------- MEDIA QUERIES ----------------------------------------------- */
/*------------------------------------- MEDIA QUERIES ----------------------------------------------- */
/*------------------------------------- MEDIA QUERIES ----------------------------------------------- */

@media screen and (min-width: 700px) {
  /* ---CART PAGE---- */
  #cartpage main {
    margin: 0 4rem 0 4rem;
  }
  #cartpage #totalline {
    margin: 2rem 0 2rem 0;
  }
  #cartpage #total p:last-of-type {
    margin-bottom: 2rem;
  }
  #cartpage #total {
    margin-bottom: 6rem;
  }
  /* ----CATALOGUE PAGE---- */
  .product-card {
    width: 40%;
    padding: 1.2rem 1.2rem;
    margin-right: 2rem;
  }
  .product-colors {
    width: 60%;
  }
  #catalogue main {
    margin: 2rem 6rem;
  }
  #catalogue button {
    width: 40%;
    font-size: 1.1rem;
  }
  /* ---------CHECKOUT PAGE--------- */
  #checkoutpage main {
    margin: 0 4rem 0 4rem;
  }
  #checkoutpage form {
    margin: 2rem 0 2rem 0;
  }
  #checkoutpage .information form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0.5rem;
  }
  #checkoutpage .information p {
    font-size: 1rem;
    line-height: 2;
  }
  #checkoutpage .shipping p {
    font-size: 1rem;
    line-height: 2;
  }
  #checkoutpage .payment p {
    font-size: 1rem;
    line-height: 2;
  }
  /* ----FOOTER--- */
  footer div {
    width: 20%;
  }
  /*----HOMEPAGE------*/
  #newsletter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
  }
  #newsletter-form {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-bottom: 0;
    align-self: center;
  }
  #newsletter-form h3 {
    margin-top: 1.5rem;
    text-align: right;
    width: 100%;
  }
  .news-high {
    order: 1;
  }
  .news-high2 {
    width: 36px;
    height: 20px;
    background: linear-gradient(
      180deg,
      transparent 60%,
      var(--yellow-color) 40%
    );
    transform: translate(-32px, -19.5px);
  }
  #newsletter-form p {
    font-size: 0.8rem;
    letter-spacing: 0.12px;
    padding-bottom: 1rem;
  }
  .newsletter-small-text {
    font-size: 0.5rem;
    margin-bottom: 0;
  }
  #recycled-collection {
    height: 300px;
    background-position: 60% 40%;
  }
  #recycled-collection h2 {
    font-size: 3rem;
    align-self: center;
  }
  #recycled-collection p {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .recycled-wrapper {
    padding: 4rem;
  }
}

@media screen and (min-width: 900px) {
  /* ----CART PAGE----- */
  #cartpage .thinline {
    margin-top: 3rem;
    background-color: black;
    border: none;
    height: 1px;
  }
  #cartpage .productwrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2rem;
    margin-top: 3rem;
  }
  #cartpage .productinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    line-height: 1rem;
  }
  #cartpage .productinfo h3 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  #cartpage .productinfo .productcolor {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  #cartpage .productinfo .price {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  #cartpage .productinfo .additems {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    display: flex;
    flex-direction: column;
  }
  #cartpage .productinfo .additems .remove {
    margin: 0;
    align-self: center;
  }
  #cartpage .productwrapper img {
    max-width: 100%;
    border: none;
  }
  #cartpage #total .aligned-left {
    display: flex;
    justify-content: flex-end;
  }
  #cartpage #total button {
    margin: 0;
    max-width: 50%;
  }
  /* ----CATALOGUE PAGE---- */
  .product-card {
    width: 25%;
    padding: 1.2rem 1.2rem;
  }
  #catalogue main {
    margin: 2rem 5rem;
  }
  .product-name,
  .product-price {
    font-size: 1rem;
  }
  .product-colors {
    width: 60%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .color1,
  .color2,
  .color3,
  .color4 {
    height: 15px;
    width: 15px;
  }
  #catalogue button {
    width: 25%;
    font-size: 1.1rem;
  }
  /* -----FOOTER----- */
  footer {
    margin: 4rem 7rem;
  }
  /* -------------CHECKOUT PAGE--------- */
  #checkoutpage .information form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0.5rem;
  }
  #checkoutpage main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2rem;
  }
  #checkoutpage .breadcrumbs {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  #checkoutpage .information {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin: 0;
  }
  #checkoutpage .shipping {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    margin: 0;
  }
  #checkoutpage .payment {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    margin: 0;
  }
  #checkoutpage .purchase-summary {
    grid-column: 2 / span 1;
    grid-row: 2 / span 5;
  }
  #checkoutpage .checkboxes {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
  }
  #checkoutpage .information {
    line-height: 3rem;
  }
  #checkoutpage .shipping form {
    margin: 0;
  }
  #checkoutpage .shipping p {
    margin: 1rem 0 2rem 0;
  }
  #checkoutpage .payment #epay {
    margin: 0;
  }
  #checkoutpage .payment p {
    margin: 1rem 0 2rem 0;
  }
  /*----------HOMEPAGE--------*/
  #newsletter {
    width: 65%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 3rem;
    margin: 0 auto;
  }
  #newsletter-form {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-bottom: 0;
  }
  #newsletter-form h3 {
    order: 1;
    margin-top: 1.5rem;
    text-align: right;
    width: 100%;
  }
  #newsletter-form p {
    font-size: 0.8rem;
    letter-spacing: 0.12px;
    padding-bottom: 1rem;
  }
  .newsletter-small-text {
    font-size: 0.5rem;
    margin-bottom: 0;
  }
  #silfen-stories {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .some-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
  }
  .some-wrapper img {
    width: 20%;
  }
  .some-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(
      180deg,
      transparent 60%,
      var(--light-blue-color) 40%
    );
    width: max-content;
    margin-left: 3rem;
  }
  .some-title h3.half-highlight-light-blue {
    background: none;
    line-height: initial;
  }
  #silfen-stories h4 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
  }
  #homepage-video {
    padding: 2rem;
    height: 350px;
    padding-top: 1rem;
  }
  .hp-video {
    width: 445px;
  }
  .hp-video-border {
    height: 300px;
    width: 450px;
    border: 7px solid white;
    transform: translate(20px, -280px);
  }
  .hp-wrapper {
    width: 900px;
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 4rem;
    margin: 0 auto;
  }
  #homepage-sustainability {
    background: var(--darker-green-color);
  }
  #homepage-sustainability article {
    padding: 2rem;
  }
  #homepage-sustainability h3 {
    font-size: 1rem;
    text-align: left;
    padding-bottom: 1rem;
  }
  #homepage-sustainability p {
    font-size: 0.8rem;
  }
  button.white-button {
    color: var(--darker-green-color);
  }
  #shop-by-category h3 {
    display: initial;
  }
  .shop-by-category-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10px 10px 10px 1fr;
    gap: 1rem;
  }
  .shop-by-category-wrapper,
  .shop-by-category-wrapper2,
  .shop-by-category-wrapper3,
  .shop-by-category-wrapper4,
  .shop-by-category-wrapper5 {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 10px 1fr 10px max-content;
    justify-items: center;
  }
  .shop-by-category-wrapper {
    grid-column: 5 / 6;
    grid-row-start: 2;
  }
  .shop-by-category-wrapper2 {
    grid-column: 4 / 5;
    grid-row-start: 3;
  }
  .shop-by-category-wrapper3 {
    grid-column: 3 / 4;
    grid-row-start: 1;
  }
  .shop-by-category-wrapper4 {
    grid-column: 2 / 3;
    grid-row-start: 4;
  }
  .shop-by-category-wrapper5 {
    grid-column: 1 / 2;
    grid-row-start: 2;
  }
  .shop-by-category-img:nth-child(1) {
    background-image: url(/assets/category1.webp);
    height: 200px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    grid-row: 2/4;
  }
  .shop-by-category-img:nth-child(2) {
    grid-column: 2/4;
    grid-row: 1 / 3;
    height: 200px;
    border: 5px solid var(--light-blue-color);
    width: 150px;
  }
  .shop-by-category-img:nth-child(3) {
    transform: translateY(200px);
  }
  .shop-by-category-wrapper2 .shop-by-category-img:nth-child(1) {
    background-image: url(/assets/category2.webp);
    height: 200px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 2 / 4;
    grid-row: 2/4;
  }
  .shop-by-category-wrapper2 .shop-by-category-img:nth-child(2) {
    grid-column: 1/3;
    grid-row: 1 / 3;
    height: 200px;
    width: 150px;
    border: 5px solid var(--light-blue-color);
  }
  .shop-by-category-wrapper2 .shop-by-category-img:nth-child(3) {
    grid-column: 1 /3;
    grid-row: 4 /5;
    justify-self: start;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 2rem;
    transform: translateY(-52px);
  }
  .shop-by-category-wrapper3 .shop-by-category-img:nth-child(1) {
    background-image: url(/assets/category3.webp);
    height: 200px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    grid-row: 2/4;
  }
  .shop-by-category-wrapper3 .shop-by-category-img:nth-child(2) {
    grid-column: 2/4;
    grid-row: 1 / 3;
    height: 200px;
    width: 150px;
    border: 5px solid var(--light-blue-color);
  }
  .shop-by-category-wrapper3 .shop-by-category-img:nth-child(3) {
    grid-column: 1 /3;
    grid-row: 4 /5;
    justify-self: start;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 2rem;
  }
  .shop-by-category-wrapper4 .shop-by-category-img:nth-child(1) {
    background-image: url(/assets/category4.webp);
    height: 200px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 2 / 4;
    grid-row: 2/4;
  }
  .shop-by-category-wrapper4 .shop-by-category-img:nth-child(2) {
    grid-column: 1/3;
    grid-row: 1 / 3;
    height: 200px;
    width: 150px;
    border: 5px solid var(--light-blue-color);
  }
  .shop-by-category-wrapper4 .shop-by-category-img:nth-child(3) {
    grid-column: 1 /3;
    grid-row: 4 /5;
    justify-self: start;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 2rem;
    transform: translateY(-240px);
  }
  .shop-by-category-wrapper5 .shop-by-category-img:nth-child(1) {
    background-image: url(/assets/category5.webp);
    height: 200px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    grid-row: 2/4;
  }
  .shop-by-category-wrapper5 .shop-by-category-img:nth-child(2) {
    grid-column: 2/4;
    grid-row: 1 / 3;
    height: 200px;
    width: 150px;
    border: 5px solid var(--light-blue-color);
  }
  .shop-by-category-wrapper5 .shop-by-category-img:nth-child(3) {
    grid-column: 1 /3;
    grid-row: 4 /5;
    justify-self: start;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 2rem;
  }
  #recycled-collection {
    height: 400px;
    background-position: 60% 40%;
  }
  #recycled-collection h2 {
    font-size: 3rem;
    align-self: center;
  }
  #recycled-collection p {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .recycled-wrapper {
    padding: 4rem;
  }
  .container {
    max-width: 100%;
    margin-top: 3rem;
    height: 513px;
  }
  .container img {
    height: 400px;
  }
  .hero {
    display: grid;
    grid-template-columns: 366px 40px 40px 100px 100px 200px 140px;
    grid-template-rows: 40px 40px 100px 60px 230px 100px;
    transform: scale(0.8, 0.8);
  }
  /* .hero {
    display: grid;
    grid-template-columns: 20px 30px 50px 150px 70px 1fr;
    grid-template-rows: 30px 40px 50px 30px 80px 1fr 1fr;
  } */
  .hero-img:first-of-type {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
    width: 500px;
    height: 400px;
    background: var(--green-color);
  }
  .hero-img:nth-child(2) {
    width: 600px;
    height: 400px;
    grid-column: 3/4;
    grid-row: 2 / span 2;
  }
  .hero-img:nth-child(3) {
    grid-column-start: 4;
    grid-row: 3 / span 2;
    border: 3px solid var(--green-color);
    width: 560px;
    height: 390px;
  }
  .hero-img:nth-child(4) {
    grid-row-start: 5;
    grid-column: 6 /7;
  }
  .green-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 6.25px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .hero-img:nth-child(5) {
    grid-row-start: 5;
    grid-column: 1 / 3;
    /* transform: translate(-365px, -10px); */
  }
  .half-highlight {
    background: linear-gradient(
      180deg,
      transparent 60%,
      var(--green-color) 40%
    );
    line-height: 80%;
  }
  .hero-img:nth-child(5) h1 {
    text-align: right;
    letter-spacing: 20px;
    font-size: 6rem;
    font-weight: bold;
  }
  .hero-img:nth-child(6) {
    grid-row-start: 6;
    grid-column-start: 5;
    border-left: 3px solid var(--green-color);
  }
}

@media screen and (min-width: 1100px) {
  /* ----CART PAGE---- */
  #cartpage main {
    margin: 0 20rem 0 20rem;
  }
  #cartpage #total h2 {
    font-size: 2rem;
  }
  /* ----CATALOGUE PAGE---- */
  .product-card {
    width: 26%;
    padding: 1.2rem 1.2rem;
  }
  #catalogue main {
    margin: 2rem 6rem;
  }
  .product-colors {
    width: 55%;
  }
  #catalogue button {
    width: 22%;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1100px) {
  /* -------CHECKOUT PAGE------- */
  #checkoutpage main {
    margin: 0 5rem 0 5rem;
  }
  #checkoutpage .purchase-summary hr {
    margin: 2rem 0 2rem 0;
  }
  /* -----FOOTER----- */
  footer {
    margin: 5rem 9rem;
  }
  /*--------homepage----------*/
  .container {
    max-width: 100%;
    margin-top: 3rem;
    height: 100%;
  }
  .container img {
    height: 400px;
  }
  .hero {
    display: grid;
    grid-template-columns: 366px 40px 40px 100px 100px 200px 140px;
    grid-template-rows: 40px 40px 100px 60px 230px 100px;
    transform: scale(1, 1);
  }
  /* .hero {
  display: grid;
  grid-template-columns: 20px 30px 50px 150px 70px 1fr;
  grid-template-rows: 30px 40px 50px 30px 80px 1fr 1fr;
} */
  .hero-img:first-of-type {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
    width: 500px;
    height: 400px;
    background: var(--green-color);
  }
  .hero-img:nth-child(2) {
    width: 600px;
    height: 400px;
    grid-column: 3/4;
    grid-row: 2 / span 2;
  }
  .hero-img:nth-child(3) {
    grid-column-start: 4;
    grid-row: 3 / span 2;
    border: 3px solid var(--green-color);
    width: 560px;
    height: 390px;
  }
  .hero-img:nth-child(4) {
    grid-row-start: 5;
    grid-column: 6 /7;
  }
  .green-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 6.25px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .hero-img:nth-child(5) {
    grid-row-start: 5;
    grid-column: 1 / 3;
    /* transform: translate(-365px, -10px); */
  }
  .half-highlight {
    background: linear-gradient(
      180deg,
      transparent 60%,
      var(--green-color) 40%
    );
    line-height: 80%;
  }
  .hero-img:nth-child(5) h1 {
    text-align: right;
    letter-spacing: 20px;
    font-size: 6rem;
    font-weight: bold;
  }
  .hero-img:nth-child(6) {
    grid-row-start: 6;
    grid-column-start: 5;
    border-left: 3px solid var(--green-color);
  }
  #homepage-video {
    padding: 2rem;
    height: 350px;
    padding-top: 1rem;
  }
  .hp-video {
    width: 600px;
  }
  .hp-video-border {
    height: 300px;
    width: 600px;
    border: 5px solid white;
  }
  .hp-wrapper {
    width: 1060px;
    grid-template-columns: 70% 30%;
  }
}

@media screen and (min-width: 1300px) {
  /* ----CATALOGUE PAGE---- */
  .product-card {
    width: 21%;
    padding: 1.2rem 1.2rem;
  }
  #catalogue main {
    margin: 2rem 9rem;
  }
  .product-colors {
    width: 55%;
  }
  #catalogue button {
    width: 21%;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1600px) {
  /* ----CHECKOUT PAGE---- */
  #checkoutpage .information {
    margin-right: 3rem;
  }
  #checkoutpage .shipping {
    margin-right: 3rem;
  }
  #checkoutpage .payment {
    margin-right: 3rem;
  }
  #checkoutpage .checkboxes {
    margin-right: 3rem;
  }
  #checkoutpage .purchase-summary {
    padding: 4rem 7rem 4rem 7rem;
  }
  #checkoutpage .purchase-summary .discount-code form button {
    font-size: 1rem;
  }
  #checkoutpage .purchase-summary .item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0.7rem;
  }
  #checkoutpage #checkboxes form label {
    line-height: 5rem;
  }
}
/*-------------------------------------  ----------------------------------------------- */
/*------------------------------------ END ----------------------------------------------- */
/*-----------------------------------  END----------------------------------------------- */
/*-----------------------------------  END ----------------------------------------------- */
